h1, h2, h3, h4, h5, body
{
    font-family: "Segoe UI",sans-serif;
    text-shadow: 1px 1px 1px #ccc;
    font-size:16px;
    text-decoration: none;
    font-weight:400;
    color:#111;
}

h1{font-size:22px;font-weight:500;}
h2{font-size:21px;font-weight:500;}
h3{font-size:20px;font-weight:500;}
h4{font-size:19px;font-weight:500;}
h5{font-size:18px;font-weight:500;}

hr
{
    background-color: #ccc;
    border: none;
    margin-top:0px;
    margin-bottom:20px;
}

.box
{
    background-color: #eee;
    box-shadow: 0px 1px 2px #888;
    padding: 10px;
    width: auto;
}

.editable
{
    font-family: "Segoe UI",sans-serif;
    background-color: #fff;
    border: 1px solid #888;
    width:auto;
}

.error
{
    color:#a31;
    background-image: url("icons/error.png");
    background-repeat: no-repeat;
    text-indent: 24px;
    background-position: 0px 5px;

}

.pushbutton
{
    background-color:#46a;
    color:#fff;
    text-shadow: 0px 1px 1px #137;
    text-align: center;
    border-bottom: 2px solid #137;
    box-shadow: 0px 1px 2px #888;
    padding: 2px;
    padding-top:1px;
}

.pushbuttonDisabled
{
    background-color:#888;
    color:#fff;
    text-shadow: 0px 1px 1px #444;
    border-bottom: 2px solid #444;
    text-align: center;
    box-shadow: 0px 1px 2px #888;
    padding: 2px;
    padding-top:1px;
}

.pushbutton:hover
{
    background-color: #57b;
}

.pushbutton:active
{
    margin-top:1px;
    border-bottom: 1px solid #137;
}